
.flex-container > div {
    width: 100%;
    padding: 30px;
    margin: 5px;
    background-color: #ff6666;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.flex-container > div:hover {
    transform: translateY(-5px);
}

.conteneur {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.sudoku{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}

.Pendu{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}

.bataille-navale{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}

.Solitaire{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}
.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8 {
    flex: 1;
    width: calc((100% - 6 * 20px) / 4);
    padding: 0;
    margin: 20px;
    background-color: #ff9999;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.div1 img, .div2 img, .div3 img, .div4 img, .div5 img, .div6 img, .div7 img, .div8 img {
    width: 100%; /* Prend toute la largeur du div */
    height: 100%; /* Prend toute la hauteur du div */
    object-fit: cover; /* Assure que l'image couvre tout le div sans déformer le ratio */
}

.div1:nth-child(2n), .div2:nth-child(2n), .div3:nth-child(2n), .div4:nth-child(2n), .div5:nth-child(2n), .div6:nth-child(2n), .div7:nth-child(2n), .div8:nth-child(2n) {
    background-color: #ffcccc;
}

.div1:hover, .div2:hover, .div3:hover, .div4:hover, .div5:hover, .div6:hover, .div7:hover, .div8:hover {
    transform: translateY(-5px);
}

.rectangleGris {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: grey;
}

.boutonAcheter {
    margin-top: 20px;
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.boutonAcheter:hover {
    background-color: #45a049;
}

.bouton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouton button {
    margin-top: 20px;
    margin: 10px;
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* .active {
    background-color: #08530c !important;
  } */

h2 {
    text-align: center;
    font-size: 25px;
    margin: 10px;
}

h1 {
    margin-top: 40px;
}

