#page {
    padding: 20px;
    text-align: center;
}

h2 {
    color: black;
}

.form {
    margin-top: 20px;
}

.id{
    margin-bottom: 15px;
}

.pw {
    margin-bottom: 15px;
}

label {
    margin-top: 30px;
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
    color: black;
}

input {
    width: 400px;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    background-color: #d9dcd9;
    border-radius: 4px;
}

.bouton button {
    margin-top: 20px;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bouton #con, .bouton #decon {
    background-color: forestgreen;
    color: white;
}

.bouton #con:hover, .bouton #decon:hover  {
    background-color: darkgreen;
}

#ins a {
    text-decoration: none;
    color: black;
}

#ins a:hover {
    color: #2980b9;
}

#popupConnexion, #popupDeconnexion {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    /* z-index: 1000;*/
    display: none;
}

#popupConnexion.active, #popupDeconnexion.active {
    display: block;
}

.contenu-popup {
    max-width: 600px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.fermer {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
