/* GÉNÉRAL */
body {
    font-size: 16px;
    color: #333;
    padding: 10px;
    /* overflow-y: hidden; */
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #4CAF50;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    color: #64DD17;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: #81C784;
}

p {
    margin-bottom: 15px;
}

/* EN-TÊTE */
#Entete-site {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

#Entete-site a {
    text-decoration: none;
    color: white;
}

#Entete-site a:hover {
    text-decoration: underline;
}

#Entete-site #Menu {
    display: flex;
    align-items: center;
}

#Entete-site #Menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#Entete-site #Menu ul li {
    margin-right: 10px;
}

#Entete-site #Menu ul li:last-child {
    margin-right: 0;
}

#Entete-site div a {
    margin: 0 3px;
}

/* MENU */
#Menu {
    text-align: center;
    background-color: #333;
}

#Menu ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#Menu ul li {
    display: inline-block;
    margin-right: 10px;
}

#Menu div {
    display: inline-block;
}

#Menu ul li:hover {
    background-color: #555;
}

#Menu ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
}
/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0;
}