header {
    position: fixed;
    top: 0;
    width: 100%;
    /* autres styles */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* autres styles */
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.game-title {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

#board {
    display: grid;
    gap: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
}

#board.size-3x3 {
    grid-template-columns: repeat(3, 1fr);
}

#board.size-4x4 {
    grid-template-columns: repeat(4, 1fr);
}

.cell {
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.cell.size-3x3 {
    width: 60px;
    height: 60px;
}

.cell.size-4x4 {
    width: 45px;
    height: 45px;
}

.cell:empty {
    background-color: #fff;
}

.cell:empty:hover {
    background-color: #eee;
}

#restart-button {
    background-color: #4CAF50; /* couleur de fond */
    border: none; /* pas de bordure */
    color: white; /* couleur du texte */
    padding: 15px 32px; /* espace intérieur */
    text-align: center; /* alignement du texte */
    text-decoration: none; /* pas de soulignement */
    display: inline-block;
    font-size: 16px; /* taille de la police */
    margin: 4px 2px;
    cursor: pointer; /* change le curseur en main lorsqu'il survole le bouton */
    border-radius: 4px; /* coins arrondis */
}

#restart-button:hover {
    background-color: #45a049; /* change la couleur de fond lorsqu'il survole le bouton */
}

#difficulty-buttons button.disabled {
    background-color: #ccc; /* couleur de fond lorsqu'il est désactivé */
}

#difficulty-title {
    font-weight: bold;
    font-size: 20px;
}

#difficulty-buttons {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#difficulty-buttons button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#difficulty-buttons button:hover {
    background-color: #45a049;
}