.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
}

.profile {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.stats {
    flex: 1;
    margin-right: 20px;
}

.achievements {
    flex: 1;
}

.progress {
    margin-bottom: 20px;
}

.progress-bar {
    background-color: #4CAF50;
    height: 20px;
}

.progress-bar span {
    display: block;
    padding: 5px;
    color: white;
    font-size: 18px;
}

.level,
.money {
    margin-top: 10px;
    font-size: 18px;
}

ul li details summary {
    margin: 0 20px;
    font-size: 1.3em;
}